:root {
    --accent-color: #fbc02d;
    --accent-text: #212121;
    --box-color: white;
    --font: 'Mulish', sans-serif;
    --page-border: 50px;
}

body {
    margin: 0;
    background-color: var(--accent-color);
    color: var(--accent-text);
    font-family: var(--font);
    overflow: hidden;
}

#name_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vw;
    position: fixed;
    top: var(--page-border);
    left: var(--page-border);
    color: var(--accent-text);
}

#profile_photo {
    width: 100px;
    height: 100px;
    background-image: url(assets/vicente.jpg);
    background-size: cover;
    background-position-y: bottom;
    margin-right: calc(var(--page-border)/2);
    border-radius: 50%;
}

nav {
    position: fixed;
    left: var(--page-border);
    top: 190px;
    display: flex;
    flex-flow: column;
}

nav span {
    margin-bottom: 0px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    line-height: 40px;
}

#selected_nav {
    width: 200px;
    height: 40px;
    background-color: var(--box-color);
    position: fixed;
    top: 190px;
    left: -2vw;
    border-radius: 20px;
    z-index: -10;
    transition-duration: 0.3s;
}

#content {
    margin-top: 200px;
    margin-left: 220px;
    height: calc(100vh - 250px);
    width: max-content;
    display: inline-flex;
    opacity: 0;
}

.contentAnimation {
    animation-name: contentIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes contentIn {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.div, .titleDiv{
    width: 332px;
    background-color: var(--box-color);
    border-radius: 8px;
    margin-right: 20px;
    position: relative;
    background-size: cover;
    transition-duration: 0.2s;
}

.div {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    background-position: top;
}

.div:hover {
    transform: scale(1.05);
    z-index: 100000;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
}

.subdiv, .titlesubdiv {
    position: absolute;
    height: 26vh;
    width: 300px;
    bottom: 0;
    padding: 16px;
    color: var(--accent-text);
}

.subdiv {
    padding-top: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8407738095238095) 70%, rgba(255,255,255,0) 100%);
    border-radius: 8px;
}

.titleDiv {
    border-style: dashed;
    border-width: 4px;
    border-color: var(--box-color);
    background-color: unset;
    width: 324px;
    color: var(--box-color);
}

.titlesubdiv {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--accent-text);
    text-align: center;
}

.titlesubdiv {
    font-weight: 700;
}

.titletitle {
    font-size: 24pt;
    font-weight: 900;
    text-shadow: 3px 4px 0px var(--accent-text);
    color: var(--box-color);
}

.title {
    text-shadow: 1px 2px 0px var(--accent-color);
}

#pagesHolder {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#arrow_next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--box-color);
    text-align: center;
    line-height: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    transition-duration: 0.2s;
}

#arrow_next:active {
    transform: scale(1.05);
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--box-color);
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}

.selecteddot {
    width: 16px;
    height: 16px;
}

#info_page {
    width: 43vw;
    height: 80vh;
    padding: 2vw;
    background-color: var(--box-color);
    border-radius: 16px;
    position: absolute;
    top: 4vw;
    left: 50%;
    display: none;
    z-index: 10;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
    overflow-y: scroll;
}

.infopageAnimation {
    animation-name: infoIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes infoIn {
    from {
        transform: translateY(20%) translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%) translateX(-50%);
        opacity: 1;
    }
}

@keyframes infoOut {
    from {
        transform: translateY(0%) translateX(-50%);
        opacity: 1;
    }

    to {
        transform: translateY(20%) translateX(-50%);
        opacity: 0;
    }
}

#info_page_bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.32);
    top: 0;
    left: 0;
    z-index: 9;
    transition-duration: 0.2s;
    display: none;
}

#page_cover {
    width: 86w;
    position: relative;
    top: 0;
    left: 0;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    background-size: cover;
    border: solid 0px #212121;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 4px 8px;
}

#page_close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    opacity: 0.5;
    transition-duration: 0.3s;
}

#page_close:hover {
    opacity: 1;
}

#iframe {
    width: 30vh;
    height: 81vh;
    border: none;
    border-radius: 16px;
    text-align: center;
}

#page_link {
    cursor: pointer;
    transition-duration: 0.3s;
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 100px;
    background-color: var(--accent-color);
    color: var(--accent-text);
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
}

#page_link:hover {
    transform: scale(1.025);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
}

#page_link:active {
    transform: scale(1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
}